<section class="formSection">
  <div class="container">
    <div class="formInner">
      <form class="formWrapper" [formGroup]="signUpForm">
        <h2 class="formTitle">Registration</h2>
        <div class="formBlock">
          <span class="formName">Name</span>
          <input formControlName="name" type="text" class="formInput" placeholder="Name...">
          <p class="formError" *ngIf="signUpForm.controls['name'].dirty && signUpForm.hasError('required', 'name')">
            Name is required</p>
        </div>
        <div class="formBlock">
          <span class="formName">Email</span>
          <input formControlName="email" type="email" class="formInput" placeholder="Email...">
          <p class="formError" *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">
            Email is required</p>
          <p class="formError" *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('email', 'email')">
            Email is not valid</p>
        </div>
        <div class="formBlock">
          <span class="formName">Password</span>
          <input formControlName="password" type="password" class="formInput" placeholder="Password...">
          <p class="formError"
            *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">Password is not
            valid</p>
        </div>
        <button class="formButton" [disabled]="!signUpForm.valid" (click)="registration()">Registration</button>
        <p class="formText">Already have an account? <a [routerLink]="['/login']">Login</a> </p>
      </form>
    </div>
  </div>
</section>